# Promote Dart detection
*.dart linguist-detectable

# Suppress detection of native and build-related code
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.m linguist-detectable=false
*.swift linguist-detectable=false
*.kt linguist-detectable=false
*.cmake linguist-detectable=false

# Optional: Ignore entire native folders
android/** linguist-vendored
ios/** linguist-vendored
